#top-section{
  background-image: url("../img/assets/backgrounds/landing.jpg");
  height: 85%;
  font-size: 70px;
  color: white;
  position: relative;
  font-family: 'Rokkitt', serif;
}
#menu-img{
position: inherit;
left:40%;
top:40%;
}
#breakfast{
  background-image: url(../img/assets/foodtop/breakfast.jpg);
  height: 30%;
  font-style: italic;
  color: white;
  text-align: center;
}
#class-row{
  height: 30%;
}
#row-white{

}


#img-cont{
  padding-left: 0px;
  padding-right: 0px;
}
#row-white{
  background-color: lightgrey;
  width:100%;
  height: 50%;
}
#row-orange{
  background-color:#F15A29;
  width: 30%;
  height: 50%;
  color: white;
}
#mid-background{
    background-image: url(../img/assets/backgrounds/foodsBg.jpg);
    height: 80px;
    font-size: 70px;
    color: white;
    position: relative;
}
.blend {
    background: red;
    display: inline-block;
    opacity: 0.5;
    height:30%;
}

.fast-food{
  margin-top: 8%;
  margin-bottom: 8%;
  margin-left:5%;

}
#fast-food-top{
  height: 29%;
  width: 99%;

}
#fast-food-bottom{
  height: 29%;
  width: 99%;
}
.shadow{
  box-shadow: 0 0 8px darkgrey,
  inset 0 0 1px rgba(255,255,255,0.1);
  padding-top: 1%;
  padding-bottom: 1%;
  padding-right: 1%;
  width: 44.15%;
}
#drinks-left{
padding-right: 0px;
margin-right: 0px;
border-left: 0px;
}
#drinks-right{
  float: right;
  margin-left: 0px;
padding-left: 0px;
}
.drinks{
  margin-top: 8%; 
}
#menu-section{
  background-image: url(../img/assets/backgrounds/foodsBg.jpg);
  height: 90%;
}
#subscribe-section{
  background-image: url(../img/assets/backgrounds/subscribe.jpg);
  height: 45.5%;
  margin-top:8%;
}
#company-section{
  height:36%;
margin-top: 8%;
box-shadow: 0 0 8px darkgrey,
inset 0 0 1px rgba(255,255,255,0.1);


}
#footer{
  background-color:#F9601D;
  width: 100%;
  height: 48%;
  color: white;
}
#logo-white{
  float: left;
}
#lunch{
  background-image: url(../img/assets/foodtop/lunch.jpg);
  height: 30%;
  font-style: italic;
  color: white;
}
#dinner{
  background-image: url(../img/assets/foodtop/dinner.jpg);
  height: 30%;
  font-style: italic;
  color: white;
}
#company-section-id1{
  border-right: 1px solid black;
}
.button{
  border: 2px solid #F15A29;
  width: 30%;
  color: #F15A29;
  font-weight: bold;
  text-align: center;
}
